#background{
   background-color: black;  
 
}

#logo {
  display: flex;
  justify-content: center;
 /*  align-items: center; */
  margin-right: 200px;
  /* width: 20px; 
  height: auto;  */
}

#headline {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 200px;
  font-size: 30px; 
  font-family: 'Architects Daughter', cursive;
  
}

#input-section {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-right: 200px;
  margin-top: 10px;
  padding-inline: 40px;
 
}

#input {
  font-size: 14px; 
  font-family: 'Architects Daughter', cursive;
}
#type {
  margin-left: 25px;
  font-size: 14px; 
  font-family: 'Architects Daughter', cursive;
}

#movie-section {
  color: white;
 
}
