#background{
   background-color: black;  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headline {
  color: white;
  font-size: 30px; 
  font-family: 'Architects Daughter', cursive;
  
}


#type {
  margin-left: 25px;
  font-size: 14px; 
  font-family: 'Architects Daughter', cursive;
}


div {
display: flex;
flex-direction: column;
align-items: center;
color: white;
font-size: 20px; 
font-family: 'Architects Daughter', cursive;
padding-bottom: 50px;

}

a:link, a:visited {
color: rgb(140, 155, 60);
padding-top: 20px;
}

a:hover {
color: rgb(120, 0, 0);

}

